@font-face {
  font-family: PolySans;
  src: url("./assets/fonts/PolySans-Neutral.woff2");
}
@font-face {
  font-family: PolySans;
  src: url("./assets/fonts/PolySans-Median.woff2");
}
@font-face {
  font-family: PolySans;
  src: url("./assets/fonts/PolySans-Bulky.woff2");
}
@font-face {
  font-family: PolySans;
  src: url("./assets/fonts/PolySans-Neutral.woff2");
}

.roadmap-bg{
  background-image: url('./assets/images/roadmap-background.svg');
}

/*
  .swiper-button-next,
  .swiper-button-prev {
    color: #667085 !important;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }
  .swiper-button-next::after,
  .swiper-button-prev::after {
    display: none;
  }
  .swiper-button-next {
    background-image: url("./assets/images/next-arrow.svg");
  }
  .swiper-button-prev {
    background-image: url("./assets/images/prev-arrow.svg");
  }
*/

@tailwind base;
@tailwind components;
@tailwind utilities;
