@font-face {
  font-family: PolySans;
  src: url("./assets/fonts/PolySans-Neutral.woff2");
}
@font-face {
  font-family: PolySans;
  src: url("./assets/fonts/PolySans-Median.woff2");
}
@font-face {
  font-family: PolySans;
  src: url("./assets/fonts/PolySans-Bulky.woff2");
}
@font-face {
  font-family: PolySans;
  src: url("./assets/fonts/PolySans-Neutral.woff2");
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.header-bg {
  background-image: url("./assets/images/headerMobileBackground.png");
}

.stats-bg {
  background: linear-gradient(120deg, #1d2b64, #f8cdda);
}

.roadmap-bg {
  background-image: url("./assets/images/roadmap-background.svg");
}

@media screen(md) {
  .header-bg {
    background-image: url("./assets/images/ladingHeaderBG.png");
  }
}
