@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: PolySans;
  src: url("../public/assets/fonts/PolySans-Median.woff2");
}

.header-bg {
  background-image: url("../public/assets/images/headerMobileBackground.png");
}
.LD-ceo {
  background-image: url("../public/assets/images/LD-ceo.png");
}
.LD-cmo {
  background-image: url("../public/assets/images/LD-cmo.png");
}
.blog-bg {
  background-image: url("../public/assets/images/Blog-bg.svg");
}

.animate-progress {
  animation: progress 1s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
}

@keyframes progress {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.stats-bg {
  background: linear-gradient(120deg, #1d2b64, #f8cdda);
}

.roadmap-bg {
  background-image: url("../public/assets/images/roadmap-background.svg");
}
.slider-padding {
  padding-bottom: 6rem !important;
}

.tags-box-shadow {
  box-shadow: 0 0 24px 0 rgba(16, 16, 16, 0.1);
}

.feature-slider-image-active {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.home-blog-card-shadow {
  box-shadow: 0 25px 50px 0 rgba(16, 24, 40, 0.25);
}

@media screen(md) {
  .header-bg {
    background-image: url("../public/assets/images/ladingHeaderBG.png");
  }
  .d-hidden {
    display: none !important;
  }
  .slider-padding {
    padding-bottom: 0 !important;
  }
}
